@import 'tailwindcss';

@theme {
  --color-navy: #010c3b;
  --color-navy-light: #baceeb;
  --color-blue: #104a8e;
  --color-blue-light: #f1f5fb;
  --color-blue-dark: #dfe8f5;
  --color-muted: #4e4d51;
  --color-green: #50c657;
  --color-success: #15945d;
  --color-success-light: #b9efd5;
  --color-gray-dark: #46474e;
  --color-brown-dark: #171719;
  --color-border: #e6e6e7;
  --color-card-border: #e1e3eb;
  --color-alert: #c85836;
  --color-alert-light: #feaf96;
  --color-warning: #f4c22f;
  --color-background: #eaebef;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
}

a {
  text-decoration: none;
}
